@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Modak&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  border-radius: 4rem;
  width: 40vw;
  height: 85vh;
  background-color: antiquewhite;
  box-shadow: -1px 0px 17px 0px rgba(176, 39, 39, 0.75);
  -webkit-box-shadow: -1px 0px 17px 0px rgba(176, 39, 39, 0.75);
  -moz-box-shadow: -1px 0px 17px 0px rgba(176, 39, 39, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 4rem;
  height: 4rem;
}
h1 {
  text-shadow: 0 0 10px #ffffff;
  font-size: 3rem;
  font-family: "Chewy", system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: -webkit-linear-gradient(rgb(239, 216, 85), rgb(225, 192, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title {
  font-size: 3rem;
  font-family: "Chewy", system-ui, sans-serif;
  font-weight: 400;
}

.header {
  width: 95%;
  height: 15%;
  display: flex;
  justify-content: space-around;
}
.game-box {
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.6),
    0 0 30px rgba(0, 255, 255, 0.4);
  border-radius: 2rem;
  width: 85%;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  height: 70%;
}

.footer {
  height: 15%;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
h2 {
  font-family: "Chewy", system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 3rem;
}
.reset {
  box-shadow: 0px 1px 26px 9px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 15px;
  border: 2px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: "Chewy", system-ui, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding: 1px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}
.reset:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
.reset:active {
  position: relative;
  top: 1px;
}

.card {
  box-shadow: 0px 0px 31px 5px #d1b1e6;
  background: linear-gradient(to bottom, #ae63eb 5%, #bc80ea 100%);
  background-color: #ae63eb;
  border-radius: 18px;
  border: 1px solid #c584f3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Chewy", system-ui, sans-serif;
  font-size: 2rem;
  width: 60px;
  height: 4rem;
  /* padding: 32px 29px; */
  text-decoration: none;
  text-shadow: 0px 0px 17px #9752cc;
}
.card:hover {
  background: linear-gradient(to bottom, #bc80ea 5%, #ae63eb 100%);
  background-color: #bc80ea;
}
.card:active {
  position: relative;
  top: 1px;
}

.game-box {
  /* padding-top: 7px;
  padding-left: 6px; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2px;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
}

.match {
  background: linear-gradient(to bottom, #85ffbd 5%, #63eb99 100%);
  background-color: #85ffbd;
  border: 1px solid #84f3b6;
  text-shadow: 0px 0px 17px #52cc87;
}
.match:hover {
  background: linear-gradient(to bottom, #63eb99 5%, #85ffbd 100%);
  background-color: #85ffbd;
}
